img#wpstats{display:none}

.cb-overlay-stars .fa-star, #cb-vote .fa-star, #cb-to-top .fa-long-arrow-up, .cb-review-box .cb-score-box, .bbp-submit-wrapper button, .bbp-submit-wrapper button:visited, .buddypress .cb-cat-header #cb-cat-title a,  .buddypress .cb-cat-header #cb-cat-title a:visited, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before, .woocommerce .star-rating span, .woocommerce-page .star-rating span {
	color:#5b110e;
}
#cb-search-modal .cb-header, .cb-join-modal .cb-header, .lwa .cb-header, .cb-review-box .cb-score-box, .bbp-submit-wrapper button, #buddypress button:hover, #buddypress a.button:hover, #buddypress a.button:focus, #buddypress input[type=submit]:hover, #buddypress input[type=button]:hover, #buddypress input[type=reset]:hover, #buddypress ul.button-nav li a:hover, #buddypress ul.button-nav li.current a, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover, #buddypress .activity-list li.load-more:hover, #buddypress #groups-list .generic-button a:hover {
	border-color: #5b110e;
}
.cb-sidebar-widget .cb-sidebar-widget-title, .cb-multi-widget .tabbernav .tabberactive, .cb-author-page .cb-author-details .cb-meta .cb-author-page-contact, .cb-about-page .cb-author-line .cb-author-details .cb-meta .cb-author-page-contact, .cb-page-header, .cb-404-header, .cb-cat-header, #cb-footer #cb-widgets .cb-footer-widget-title span, #wp-calendar caption, .cb-tabs ul .current, #bbpress-forums li.bbp-header, #buddypress #members-list .cb-member-list-box .item .item-title, #buddypress div.item-list-tabs ul li.selected, #buddypress div.item-list-tabs ul li.current, #buddypress .item-list-tabs ul li:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom-color: #5b110e ;
}
#cb-main-menu .current-post-ancestor, #cb-main-menu .current-menu-item, #cb-main-menu .current-menu-ancestor, #cb-main-menu .current-post-parent, #cb-main-menu .current-menu-parent, #cb-main-menu .current_page_item, #cb-main-menu .current-page-ancestor, #cb-main-menu .current-category-ancestor, .cb-review-box .cb-bar .cb-overlay span, #cb-accent-color, .cb-highlight, #buddypress button:hover, #buddypress a.button:hover, #buddypress a.button:focus, #buddypress input[type=submit]:hover, #buddypress input[type=button]:hover, #buddypress input[type=reset]:hover, #buddypress ul.button-nav li a:hover, #buddypress ul.button-nav li.current a, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover, #buddypress .activity-list li.load-more:hover, #buddypress #groups-list .generic-button a:hover {
	background-color: #5b110e;
}
</style>
<style type="text/css">
body, #respond { font-family: 'Open Sans', sans-serif; margin: 15px 15px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #cb-nav-bar #cb-main-menu ul li > a, .cb-breaking-news span, .cb-grid-4 h2 a, .cb-grid-5 h2 a, .cb-grid-6 h2 a, .cb-author-posts-count, .cb-author-title, .cb-author-position, .search  .s, .cb-review-box .cb-bar, .cb-review-box .cb-score-box, .cb-review-box .cb-title, #cb-review-title, .cb-title-subtle, #cb-top-menu a, .tabbernav, .cb-byline, #cb-next-link a, #cb-previous-link a, .cb-review-ext-box .cb-score, .tipper-positioner, .cb-caption, .cb-button, #wp-calendar caption, .forum-titles, .bbp-submit-wrapper button, #bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form .bbp-the-content-wrapper input, #bbpress-forums .bbp-forum-title, #bbpress-forums .bbp-topic-permalink, .widget_display_stats dl dt, .cb-lwa-profile .cb-block, #buddypress #members-list .cb-member-list-box .item .item-title, #buddypress div.item-list-tabs ul li, #buddypress .activity-list li.load-more, #buddypress a.activity-time-since, #buddypress ul#groups-list li div.meta, .widget.buddypress div.item-options, .cb-activity-stream #buddypress .activity-header .time-since, .cb-font-header, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th, .cb-infinite-scroll a, .cb-no-more-posts { font-family:'Oswald', sans-serif; }
</style>
<style type="text/css">
#logo{background:#6a1014;}
section p{line-height:2em;}
.cb-post-views{display:none !important;}.header { background-color: #8e8e8e; }</style>

<style type="text/css" id="custom-background-css">

body.custom-background { background-color: #dddbd7; }

#cb-nav-bar #cb-main-menu .main-nav .menu-item-96:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-96:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-96 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-96 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-96 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-5:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-5:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-5 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-5 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-5 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-30:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-30:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-30 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-30 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-30 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-27:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-27:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-27 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-27 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-27 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-6:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-6:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-6 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-6 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-6 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-8:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-8:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-8 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-8 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-8 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-14:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-14:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-14 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-14 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-14 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-366:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-366:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-366 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-366 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-366 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-16:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-16:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-16 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-16 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-16 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-15:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-15:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-15 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-15 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-15 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-11:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-11:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-11 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-11 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-11 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-13:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-13:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-13 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-13 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-13 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-12:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-12:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-12 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-12 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-12 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1037:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1037:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1037 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1037 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1037 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1038:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1038:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1038 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1038 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-1038 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-17:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-17:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-17 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-17 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-17 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-19:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-19:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-19 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-19 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-19 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-18:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-18:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-18 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-18 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-18 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-20:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-20:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-20 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-20 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-20 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-31:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-31:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-31 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-31 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-31 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-32:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-32:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-32 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-32 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-32 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-22:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-22:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-22 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-22 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-22 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-24:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-24:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-24 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-24 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-24 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-25:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-25:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-25 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-25 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-25 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-23:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-23:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-23 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-23 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-23 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-28:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-28:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-28 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-28 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-28 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-21:hover,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-21:focus,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-21 .cb-sub-menu li .cb-grandchild-menu,
#cb-nav-bar #cb-main-menu .main-nav .menu-item-21 .cb-sub-menu { background:#5b110e!important; }
#cb-nav-bar #cb-main-menu .main-nav .menu-item-21 .cb-mega-menu .cb-sub-menu li a { border-bottom-color:#5b110e!important; }
